*{
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --shadow-color:#999;
}
.container{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    width:100%;
    overflow: hidden;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
}
.homepage{
    display: flex;
    padding:0 4em;
    align-items: center;
}
.home{
    color:var(--shadow-color);
    margin-right:1em;
 
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-right:1em;
  
}
.logo > img{
    width:60px;
    height:60px;
    object-fit: contain;
}
.profile{
    margin-left:1em;
}
/* Phần tài khoản  */
.account-admin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:5em;
}
.account-img > img{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-right:1em;
}
.account-name{
    padding-right:2em;
    border-right:1px solid  #e8e8e8;
    color:#333;;
}
.account-setting, .account-notifition , .web-name{
    padding:1em;
    margin-left:1em;
}
.web-name{
    padding:0.5em;
    border:1px solid #333;
    border-radius: 20px;
}
/* Phần thân */
a{
    text-decoration: none;
}
.GUIAdmin{
    display: flex;
}
/* Toàn bộ phần quản lý  */
.sliderbar{
    width:20%;
}
/* Thành phần quản lý  */
.sliderbar-menu{
  font-size:0.8rem;
}
/* một quản lý item */
.manager-order{
    padding-top:1em;
}
ul{
    list-style: none;
}
.manager-order-name{
    display: flex;
    align-items: center;
    padding:0em 1em;
}
.manager-icon{
    padding-right:0.8em;
}
.manager-icon>img{
    width:25px;
    height:25px;
    object-fit: contain;
}
.manager-function{
    padding-right:0.8em;
}
.manager{
    width: fit-content;
   padding:0 2.5em;
}